<div class="container">
  <h1>4 Fun Facts</h1>
  <h3>Click the below buttons to read the "Facts" inside each one of them.</h3>
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">Fact 1</a></li>
    <li><a data-toggle="pill" href="#menu1">Fact 2</a></li>
    <li><a data-toggle="pill" href="#menu2">Fact 3</a></li>
    <li><a data-toggle="pill" href="#menu3">Fact 4</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Still Radioactive</h3>
      <p>Madame Curie's notebooks are still radioactive. Researchers wishing to study them must sign a waiver in order to do so.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Really!</h3>
      <p>There are more lifeforms living on your skin than there are people on the planet.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Leonardo da Vinci</h3>
      <p>Leonardo da Vinci could write with one hand and draw with the other at the same time.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Mimic Octopus</h3>
      <p>The Mimic Octopus can not only change colours, but will mimic the shapes of other animals, like the flounder, lionfish, and sea snakes.</p>
    </div>
  </div>
</div>